[Unit]
Description=rxinfinite web
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=winrid
WorkingDirectory=/home/winrid/rxinfinite-web/web
ExecStart=/home/winrid/rxinfinite-web/run.sh

[Install]
WantedBy=multi-user.target
